# heavy and not needed
android/app/build/
android/.gradle/
node_modules/

# my backups stuff
dev time only (better keep away/
backup-src/
backup apk/
backups/

# my weird stuff
dev only/
ffmpeg task tests/
intents readme/
shit/
readme yass/
*.txt
*.yasscmd

# not needed
assets\Change App Icon in React Native for Android and iOS - About React_files\
assets\Change App Icon in React Native for Android and iOS - About React.html
assets\yvdl-mi.zip
android/.gradle/6.2/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
